* {
  box-sizing:  border-box;
  font-family: 'Merriweather', serif;
  color: #393c41;
  margin: 0;
  padding: 0;
  
}

body{
  width: 100%;
}

p a {
  text-decoration: none;
  color: #954C4C
  
}

h3{
  color: #954C4C;
  font-weight: normal;
  text-transform: uppercase;
  display: flex;
  align-items: center;
  font-size: 40px;
  padding-bottom:  16px;

}